.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3d62;
  padding: 15px 30px;
}

.logo {
  color: white;
  font-size: 22px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: #feca57;
}
